@import url('https://fonts.googleapis.com/css?family=Germania+One|Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
	box-sizing: border-box;
}

html{
	margin: 0;
}

body{
	background: url(/img/vintage-concrete.png);
	font-family: 'Roboto', sans-serif;
}

.header {
	font-family: 'Germania One', cursive;
	text-align: center;
	font-size: 45px;
	color: #e0a998;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.range{
	text-align: center;
	margin: auto;
}

.main-board {
text-align: center;

	form{
	display: inline-block;
	margin: 0 0 20px;
		
		input{
		padding: 4px;
		border: 1px solid #e0a998;
		font-family: inherit;
			
			&:focus{
			box-shadow: 0px 0px 2px 2px rgba(224,169,152,1);
			}
		}
	}

	ul{
	display: flex;
	flex-flow: row wrap;
	max-width: 80%;
	justify-content: space-evenly;
	padding: 0;
	margin: auto;
	list-style: none;
		
		li{
		margin: 5px;
		padding-top: 15px;
		padding-bottom: 15px;
		width: 50px;
		height: 50px;
		background: rgba(255, 255, 255, 0.76);
		border-radius: 50%;
		border: 1px solid #e0a998;
		color: #6d6d6d;
		text-align: center;
		}
	}
}